.background {
    position: fixed; /* 固定定位 */
    top: 0;
    left: 0;
    width: 100%; /* 寬度 100% */
    height: 100%; /* 高度 100% */
    background-image: url("../../destination/background-destination-desktop.jpg");
    background-size: cover; /* 使背景圖片覆蓋整個容器 */
    background-position: center; /* 背景圖片居中 */
    z-index: -1; /* 確保背景在其他內容之下 */
}

.container {
    position: relative; /* 讓內容可以滾動 */
    z-index: 1; /* 確保內容在背景之上 */
    margin: 48px 165px;
    display: flex;
    flex-direction: column;
}

.title {
    height: 34px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.gridbox {
    width: 1110px;
    height: 734px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.imgbox {
    padding: 127px 29.5px;
}

.img {
    width: 480px;
}

.textbox {
    padding: 133px 47px;
}

.planet {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}

.line {
    width: 445px;
    margin: 40px 0px;
}

.text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: 61px;
}
.tab {
    display: flex;
    align-items: center;
    color: #D0D6F9;
    height: 32px;
    position: relative;
    margin-right: 32px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.tab:hover,
.tab:hover::after {
    color: #ffffff;
}

.tab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.tab:hover::after {
    background-color: rgba(255, 255, 255, 0.5);
}

.active {
    color: #ffffff;
}

.active::after {
    background-color: #ffffff;
}

@media screen and (max-width: 768px) {
    .background {
        background-image: url("../../destination/background-destination-tablet.jpg");
    }

    .container {
        margin: 40px;
    }
    .img {
        width: 300px;
    }
    .imgbox {
        padding: 42px 194px;
    }
    .gridbox {
        width: 688px;
        height: 800px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .textbox {
        text-align: center;
        padding: 11.5px 87px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .line {
        width: 514px;
        margin: 24px 0px;
    }
    .text {
        display: grid;
        grid-template-columns: 245px 245px;
        gap: 24px;
        height: 61px;
    }
}

@media screen and (max-width: 375px) {
    .background {
        background-image: url("../../destination/background-destination-mobile.jpg");
    }

    .container {
        margin: 24px;
    }
    .title {
        text-align: center;
        justify-content: center;
    }

    .img {
        width: 150px;
    }

    .imgbox {
        padding: 26px 88.5px;
    }

    .gridbox {
        width: 327px;
        height: 710px;
        display: grid;
        grid-template-columns: 327px;
        grid-template-rows: 202px 467px;
    }

    .textbox {
        text-align: center;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .text {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .line {
        width: 327px;
    }
}