
.background{
    position: fixed; /* 固定定位 */
    top: 0;
    left: 0;
    width: 100%; /* 寬度 100% */
    height: 100%; /* 高度 100% */
    background-image: url("/Space-tourism-website/assets/crew/background-crew-desktop.jpg"); /* 背景圖片 */
    background-size: cover; /* 使背景圖片覆蓋整個容器 */
    background-position: center; /* 背景圖片居中 */
    z-index: -1; /* 確保背景在其他內容之下 */
}
.container {
    position: relative; /* 讓內容可以滾動 */
    z-index: 1; /* 確保內容在背景之上 */
    margin: 48px 165px;
    display: flex;
    flex-direction: column;
}

.title {
    height: 100%;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.gridbox {
    width: 1110px;
    height: 734px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.gridtext {
    display: grid;
    grid-template-rows: 631px 63px;
    gap: 40px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 垂直居中 */
    align-items: flex-start;
}

.point {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.18;
    margin-right: 40px;
    transition: opacity 0.3s ease;
}

.circle:hover {
    opacity: 1;
}

.active {
    opacity: 1;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.img {
    width: 539px;
    margin: 29px 0px 29px 48px;
}

.gradientOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%; /* 漸變效果的高度 */
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(13, 15, 28, 1) 100%
    );
    pointer-events: none; /* 確保遮罩不會影響下方元素的交互 */
}

@media screen and (max-width: 768px) {
    .background {
        background-image: url("/Space-tourism-website/assets/crew/background-crew-tablet.jpg");
    }

    .container {
        margin: 40px;
    }
    .img {
        width: 410px;
        margin: 0px;
    }
    .imageContainer {
        display: flex;
        justify-content: center; /* 垂直居中 */
        align-items: flex-start;
        height: 100%;
        overflow: visible;
        padding-top: 0px;
    }
    .gradientOverlay {
        display: none;
    }
    .gridbox {
        width: 688px;
        height: 800px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 305px 463px;
        
        padding: 40px 88px 0px 88px;
    }
    .gridtext {
        display: grid;
        grid-template-rows: 1fr;
        
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .text {
        text-align: center;
        justify-content: flex-start;
        align-items: center;
    }
    .circle {
        width: 10px;
        height: 10px;
        margin-right: 16px;
    }
    .title {
        height: 100%;
    }
}

@media screen and (max-width: 375px) {
    .background {
    background-image: url("/Space-tourism-website/assets/crew/background-crew-mobile.jpg");
    }

    .container {
        margin: 24px;
        display: flex;
        justify-content: center;
    }

    .img {
        width: 270px;
        margin: 28px;
    }

    .gradientOverlay {
        display: block;
        height: 40%;
    }

    .gridbox {
        width: 327px;
        height: 701px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0px;
    }
    .gridtext {
        margin-top: 40px;
    }
    
    .title {
        height: 100%;
        margin-bottom: 24px;
        justify-content: center;
        text-align: center;
    }
}
